@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: "Roboto", sans-serif;
}

form {
  background: #fafafa;
  padding: 1em 0;
  margin: 0 0 1em;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

input {
  font-size: 1em;
  padding: 1em;
  margin: 0 1em;
  min-width: 50%;
}

ul {
  margin: 0 1.5em;
  padding: 9em 0 0;
  display: flex;
  flex-wrap: wrap;
  font-size: .7em;
  text-transform: uppercase;
}
ul li {
  flex: 1 1 0;
  display: inline-block;
  list-style: none;
  min-width: 20%;
  margin: 0 0 1em;
}
ul li span {
  width: 100%;
  height: 6em;
  clear: both;
  display: block;
  margin: 0 0 .5em;
  width: 100%;
}
